.button {
    position: relative;
   
  
   
    align-items: center;
    color: white;
   
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -4px;
    margin: auto;
  
    border-radius: 10px;
    background: linear-gradient(-45deg, #f89e6a 0%, #fa6604 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } */
  
  .button::after {
   
  }