.card-bienvenido {
    width: 600px;
    height: 150px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #ee8c1d 0%, #f57119 46%, #fcaf20 100%);
    border-radius: 20px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    
  }
  
  .card-content-bienvenido {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content-bienvenido .card-title-bienvenido {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content-bienvenido .card-para-bienvenido {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card-bienvenido:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-bienvenido:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card-bienvenido:hover:before {
    transform: translateX(-100%);
  }
  
  .card-bienvenido:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card-bienvenido:hover:after {
    transform: translateX(100%);
  }

  @media screen and (max-width: 375px) {
    /* Estilos para teléfonos móviles estándar */
    .card-bienvenido {
      width: 300px;
      height: 250px;
    }
  }
  
  @media screen and (min-width: 376px) {
    /* Estilos para teléfonos móviles grandes */
    .card-bienvenido {
      width: 370px;
      height: 250px;
    }
  }
  @media screen and (min-width: 768px)  {
    .card-bienvenido {
      width: 600px;
      height: 200px;
    }
  }
  
  
  
  
  