.sidebar_container{
    height: -webkit-fill-available !important;
}

/* Estilos para la barra de desplazamiento */
.sidebar_container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estilos para el pulgar (scroll thumb) */
  .sidebar_container::-webkit-scrollbar-thumb {
    background-color: #4a90e2; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px; /* Radio de borde del pulgar */
    border: 2px solid #1f2937;
  }
  
  /* Estilos para la pista (scroll track) */
  .sidebar_container::-webkit-scrollbar-track {
    background-color: #1f2937; /* Color de fondo de la barra de desplazamiento */

    
    
  }
  